@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes dialogOverlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dialogContentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
  animation: dialogOverlayShow 200ms ease-out;
  z-index: 1050;
}

.DialogContent {
  background-color: var(--background-light, white);
  border-radius: 1rem;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(90vw, 400px);
  padding: 2rem;
  animation: dialogContentShow 200ms ease-out;
  z-index: 10000;
}

.animate-underline {
  transform: scaleX(0);
  transform-origin: left;
  animation: slideIn 0.3s forwards;

}

.edit-model {
  z-index: 1050;
}



@keyframes slideIn {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.logo-text {
  opacity: 0;
  transform: translateY(35px);
  letter-spacing: -0.2em;
  animation: fadeUp 4s ease-out forwards;
}

.cards-animation {
  opacity: 0;
  transform: translateY(35px);

  animation: fadeUp 1.5s ease-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(35px);

  }

  100% {
    opacity: 1;
    transform: translateY(0);

  }
}


@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}


.video-background {
  background-color: #C3BFB7;
}